<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="dashboard-container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="logo">Invento</div>
      <ul>
        <li class="{% if active_page == 'dashboard' %}active{% endif %}">
          <a href="{{url_for('dashboard')}}">Dashboard</a></li>
        <li class="{% if active_page == 'inventory' %}active{% endif %}">
          <a href="{{url_for('inventory')}}">Inventory</a></li>
        <li class="{% if active_page == 'orders' %}active{% endif %}">
          <a href="{{url_for('sales_orders')}}">Pending Order</a></li>
        <li class="{% if active_page == 'notifications' %}active{% endif %}">
          <a href="{{url_for('notifications')}}">Notification</a></li>
        <li class="{% if active_page == 'chat' %}active{% endif %}">
          <a href="{{url_for('chat')}}">Chat</a></li>
        <li class="{% if active_page == 'settings' %}active{% endif %}">
          <a href="{{url_for('settings')}}">Settings</a></li>
        <li class="{% if active_page == 'help' %}active{% endif %}">
          <a href="{{url_for('help')}}">Help</a></li>
      </ul>
    </aside>

    <main class="main-content">
      <header>
        <input type="text" placeholder="Search anything..." class="search-bar">
        <div class="user-info">Good Morning, Subash</div>
      </header>

      {% block content %} {% endblock %}
      
    </main>

  </div>
</body>
</html>
